<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class="title-center">Login</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginForm">
    <div fxLayout="column" fxFlex>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            loginForm.get('email').touched && loginForm.get('email').invalid
          "
        >
          <span *ngIf="loginForm.get('email').errors?.required"
            >This Field Is mandatory</span
          >
          <span *ngIf="loginForm.get('email').errors?.pattern"
            >This Field Is invalid</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error
          *ngIf="
            loginForm.get('password').touched &&
            loginForm.get('password').invalid
          "
        >
          <span *ngIf="loginForm.get('password').errors?.required"
            >This Field Is mandatory</span
          >
          <span *ngIf="loginForm.get('password').errors?.pattern"
            >This Field Is invalid</span
          >
        </mat-error>
      </mat-form-field>

      

<mat-dialog-actions align="center">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(loginForm.valid && loginForm.dirty)"
  >
    Login
  </button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
